body {
  margin: 0
}

#stats {
  text-align: center;
}

#game {
  width: 600px;
  height: 600px;
  background-color: #efefef;
  position: relative;

  #cube {
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
    background-image: url('../../img/kaniaMatka.png');
    background-size: 86%;
    background-position: center;
    position: absolute;
    transition: all 450ms;
    transition-timing-function: linear;
    border-radius: 50px;
  }
}


.rotate {
    height: 50px;
    width: 35px;
    position: absolute;
    background-size: contain;
    background-image: url("../../img/kaniaMatka.png");
}
